.header
    padding: 20px 0
    &__link
        font-size: 16px
        display: block
        padding: 12px
        @media screen and ( min-width: 1010px )
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
            &:hover
                font-weight: 600
                text-decoration: underline

    &__phone
        padding: 10px
        font-size: 16px
        font-weight: 700
        font-family: "Merriweather", serif
        &:hover
            text-decoration: underline

    .btn__menu
        display: none

    @media screen and ( max-width: 1010px )
        padding: 10px 0
        &-nav
            display: block
            text-align: left
            position: fixed
            top: 0
            left: 0
            width: 90%
            max-width: 320px
            height: 100vh
            z-index: 9999
            background-color: #d9e9f3
            padding: 70px 20px
            transform: translateX(-100%)
            opacity: 0
            visibility: hidden
            box-shadow: 40vw 0 0 20vw rgba(0, 0, 0, .5)
            transition: all ease-in-out .4s
            &.is_active
                opacity: 1
                visibility: visible
                transform: translateX(0%)

        .btn__menu
            width: 40px
            height: 40px
            display: inline-block
            position: relative
            z-index: 99999
            span
                pointer-events: none
                display: block
                width: 75%
                margin: 0 auto
                height: 2px
                background: #000
                position: relative
                z-index: 1
                transition: all ease .3s
                &::before,
                &::after
                    content: ''
                    display: block
                    width: 100%
                    height: 2px
                    background-color: #000
                    position: absolute
                    left: 0
                    top: -9px
                    transition: all ease .3s

                &::after
                    top: 9px

            &.is_active
                span
                    background-color: rgba(white, 0)
                    &::before
                        top: 0
                        transform: rotate(45deg)

                    &::after
                        top: 0
                        transform: rotate(-45deg)
